@use '../abstract/colors' as *;

:root,
[data-theme="default"] {
  // Variables
  --clr-bg: #{$nord00};
  --clr-elevated: #{$nord01};
  --clr-elevated-1: #{$nord03};
  --clr-subtle: #{$nord06};
  --clr-txt: #{$nord05};
  --clr-txt-selection: #{$nord02};
  // Constants
  --clr-primary: #{$nord08};
  --clr-important: #{$nord07};
  --clr-secondary: #{$nord09};
  --clr-tertiary: #{$nord10};
  --clr-error: #{$nord11};
  --clr-dangerous: #{$nord12};
  --clr-warning: #{$nord13};
  --clr-success: #{$nord14};
  --clr-uncommon: #{$nord15};
}

[data-theme="light"] {
  --clr-bg: #{$nord06};
  --clr-elevated: #{$nord04};
  --clr-elevated-1: #{$nord05};
  --clr-subtle: #{$nord03};
  --clr-txt: #{$nord00};
  --clr-txt-selection: #{$nord05};
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-txt);
  ::selection {
    background-color: var(--clr-txt);
    color: var(--clr-txt-selection);
  }
}

main {
  background-color: var(--clr-elevated);
}

header,
footer {
  background-color: var(--clr-bg);
}

a {
  color: var(--clr-txt);

  &:hover {
    color: var(--clr-subtle);
  }

  &:visited {
    color: var(--clr-tertiary);
  }

  &:active {
    color: var(--clr-subtle);
  }
}
