@use './colors' as *;

.nav-main {
  justify-content: center;
  align-content: center;

  ul {
    list-style-type: none;
    padding-top: 1em;
    margin: 0.5em;
  }

  li {
    display: inline-block;
    padding: 1em;
    margin: .5em;
    background-color: var(--clr-bg);
    width: 15ch;
    box-shadow: 0.1em 0.1em 0.1em 0.1em var(--clr-secondary);

    &:hover {
      background-color: var(--clr-important);
      font-weight: 400;
      cursor: pointer;
    }

    &.active {
      background-color: var(--clr-elevated);
      box-shadow: 0.1em 0.1em 0.1em 0.1em var(--clr-secondary) inset;
    }

    a {
      text-decoration: none;
      cursor: inherit;

      &:hover {
        font-weight: 400;
        color: var(--clr-txt);
      }
    }
  }
}
