@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/** Colors **/
.text--underline {
  text-decoration: underline;
}
.text--center {
  text-align: center;
}
.text--small {
  font-size: 0.75em;
}
.text--small-heading {
  font-size: 0.75em;
  font-weight: 500;
}
.text--slanted {
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root,
:root.dark {
  --clr-bg: #2e3440;
  --clr-elevated: #3b4252;
  --clr-elevated-1: #4c566a;
  --clr-subtle: #eceff4;
  --clr-txt: #e5e9f0;
  --clr-txt-selection: #434c5e;
  --clr-primary: #88c0d0;
  --clr-important: #8fbcbb;
  --clr-secondary: #81a1c1;
  --clr-tertiary: #5e81ac;
  --clr-error: #bf616a;
  --clr-dangerous: #d08770;
  --clr-warning: #ebcb8b;
  --clr-success: #a3be8c;
  --clr-uncommon: #b48ead;
  --fnt-size: 1rem;
  --fnt-sans: "Roboto", sans-serif;
  --fnt-serif: "EB Garamond", serif;
  --fnt-mono: "Roboto Mono", monospace;
}

:root.light {
  --clr-bg: #eceff4;
  --clr-elevated: #d8dee9;
  --clr-elevated-1: #3b4252;
  --clr-subtle: #4c566a;
  --clr-txt: #2e3440;
  --clr-txt-selection: #e5e9f0;
}

body {
  font-family: var(--fnt-sans);
  background-color: var(--clr-bg);
  color: var(--clr-txt);
  min-height: 100vh;
}
body ::selection {
  background-color: var(--clr-txt);
  color: var(--clr-txt-selection);
}

main {
  background-color: var(--clr-elevated);
}

header,
footer {
  background-color: var(--clr-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fnt-serif), serif;
}

h1 {
  font-weight: 800;
}

h2,
h3 {
  font-weight: 600;
}

h4,
h5,
h6 {
  font-weight: 400;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  color: var(--clr-txt);
}
a:hover {
  color: var(--clr-subtle);
  font-weight: 700;
}
a:visited {
  color: var(--clr-tertiary);
}
a:active {
  color: var(--clr-subtle);
  border: 0.125em dashed var(--clr-subtle);
}

.social--icons a {
  text-decoration: none;
}

.button-like {
  display: block;
  padding: 1em;
  margin: 1em;
}

.theme-btn {
  width: 6em;
  height: 6em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #eceff4;
}

.theme-btn.dark {
  display: none;
}

.light .theme-btn.light {
  display: none;
}

.light .theme-btn.dark {
  display: block;
  color: #2e3440;
}

body {
  display: grid;
  grid-template-rows: 2fr 1fr auto;
  grid-template-areas: "top" "mid" "bottom";
}

header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("https://picsum.photos/seed/ntinos/2000/1000");
  grid-area: top;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 4px;
  grid-auto-flow: column;
}

.avatar {
  grid-row: 1/2;
  grid-column: 2/3;
  border-radius: 50%;
}

.toggle-container {
  grid-row: 1/2;
  grid-column: 3/4;
  justify-self: end;
}

nav {
  grid-row: 2/3;
  grid-column: 1/4;
  justify-content: center;
  align-content: center;
  color: #eceff4;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(46, 52, 64, 0), #2e3440);
  width: 100%;
}
nav ul {
  list-style-type: none;
  justify-self: center;
  align-self: center;
}
nav li {
  display: inline-block;
}

main {
  grid-area: mid;
  justify-self: center;
  width: 80ch;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

footer {
  grid-area: bottom;
  padding: 1em;
}

.theme-btn {
  background-color: var(--clr-bg);
  border: 0.375em solid var(--clr-secondary);
}

.avatar {
  border: 0.5em solid var(--clr-primary);
}
