@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/** Colors **/
.text--underline {
  text-decoration: underline;
}
.text--center {
  text-align: center;
}
.text--small {
  font-size: 0.75em;
}
.text--small-heading {
  font-size: 0.75em;
  font-weight: 500;
}
.text--slanted {
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a:active {
  border: 0.125em dashed var(--clr-subtle);
}

.disabled {
  cursor: not-allowed;
}

.button-like {
  display: block;
  padding: 1em;
  margin: 1em;
}

.theme-btn {
  width: 6em;
  height: 6em;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #eceff4;
}

.theme-btn.dark {
  display: none;
}

.light .theme-btn.light {
  display: none;
}

.light .theme-btn.dark {
  display: block;
  color: #2e3440;
}

:root,
[data-theme=default] {
  --clr-bg: #2e3440;
  --clr-elevated: #3b4252;
  --clr-elevated-1: #4c566a;
  --clr-subtle: #eceff4;
  --clr-txt: #e5e9f0;
  --clr-txt-selection: #434c5e;
  --clr-primary: #88c0d0;
  --clr-important: #8fbcbb;
  --clr-secondary: #81a1c1;
  --clr-tertiary: #5e81ac;
  --clr-error: #bf616a;
  --clr-dangerous: #d08770;
  --clr-warning: #ebcb8b;
  --clr-success: #a3be8c;
  --clr-uncommon: #b48ead;
}

[data-theme=light] {
  --clr-bg: #eceff4;
  --clr-elevated: #d8dee9;
  --clr-elevated-1: #e5e9f0;
  --clr-subtle: #4c566a;
  --clr-txt: #2e3440;
  --clr-txt-selection: #e5e9f0;
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-txt);
}
body ::selection {
  background-color: var(--clr-txt);
  color: var(--clr-txt-selection);
}

main {
  background-color: var(--clr-elevated);
}

header,
footer {
  background-color: var(--clr-bg);
}

a {
  color: var(--clr-txt);
}
a:hover {
  color: var(--clr-subtle);
}
a:visited {
  color: var(--clr-tertiary);
}
a:active {
  color: var(--clr-subtle);
}

:root,
[data-theme=default] {
  --fnt-size: 1rem;
  --ratio: 1.333;
  --fnt-sans: "Roboto", sans-serif;
  --fnt-serif: "EB Garamond", serif;
  --fnt-mono: "Roboto Mono", monospace;
}

body {
  font-family: var(--fnt-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fnt-serif), serif;
}

h1 {
  font-weight: 800;
}

h2,
h3 {
  font-weight: 600;
}

h4,
h5,
h6 {
  font-weight: 400;
}

a:hover {
  font-weight: 700;
}

.social--icons a {
  text-decoration: none;
}

.nav-main {
  justify-content: center;
  align-content: center;
}
.nav-main ul {
  list-style-type: none;
  padding-top: 1em;
  margin: 0.5em;
}
.nav-main li {
  display: inline-block;
  padding: 1em;
  margin: 0.5em;
  background-color: var(--clr-bg);
  width: 15ch;
  box-shadow: 0.1em 0.1em 0.1em 0.1em var(--clr-secondary);
}
.nav-main li:hover {
  background-color: var(--clr-important);
  font-weight: 400;
  cursor: pointer;
}
.nav-main li.active {
  background-color: var(--clr-elevated);
  box-shadow: 0.1em 0.1em 0.1em 0.1em var(--clr-secondary) inset;
}
.nav-main li a {
  text-decoration: none;
  cursor: inherit;
}
.nav-main li a:hover {
  font-weight: 400;
  color: var(--clr-txt);
}

:root {
  --switch-width: 64px;
  --switch-height: 32px;
  --switch-padding: 3px;
  --switch-animation-duration: 0.2s;
}

.switch {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);
  border-radius: 50em;
  padding: var(--switch-padding) 0;
}
.switch--input, .switch--label {
  position: absolute;
  left: 0;
  top: 0;
}

.switch--input {
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}
.switch--input:checked + .switch--label {
  background-color: var(--clr-bg);
}
.switch--input:checked + .switch--label + .switch--marker {
  left: calc(100% - var(--switch-height) + var(--switch-padding));
}
.switch--input:focus + .switch--label, .switch--input:active + .switch--label {
  --color-shadow: hsla(var(--clr-txt), var(--clr-txt), var(--clr-txt), 0.2);
  box-shadow: 0 0 0 3px var(--color-shadow);
}

.switch--label {
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: var(--clr-bg);
  border-radius: inherit;
  z-index: 1;
  transition: background var(--switch-animation-duration);
}

.switch--marker {
  position: relative;
  background-color: var(--clr-txt);
  width: calc(var(--switch-height) - var(--switch-padding) * 2);
  height: calc(var(--switch-height) - var(--switch-padding) * 2);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px hlsa(0, 0%, 0%, 0.25);
  left: var(--switch-padding);
  transition: left var(--switch-animation-duration);
  will-change: left;
}

:root,
[data-theme=default] {
  --bg-img: url("https://picsum.photos/seed/ntinos/2000/1000.webp");
}

[data-theme=light] {
  --bg-img: url("https://picsum.photos/seed/picsum/2000/1000.webp");
}

body {
  display: grid;
  grid-template-rows: 100vh 1fr auto;
  grid-template-areas: "top" "mid" "bottom";
}

header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), var(--bg-img);
  grid-area: top;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
}

.avatar {
  grid-row: 1/2;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .avatar {
    grid-column: 1/4;
  }
}
@media screen and (min-width: 600.1px) {
  .avatar {
    grid-column: 2/3;
  }
}

.switch {
  grid-row: 2/3;
  grid-column: 3/4;
  justify-self: center;
}

nav {
  grid-row: 2/3;
}
@media screen and (max-width: 600px) {
  nav {
    grid-column: 2/3;
  }
}
@media screen and (min-width: 600.1px) {
  nav {
    grid-column: 1/4;
  }
}

main {
  grid-area: mid;
  justify-self: center;
  width: 90vw;
  max-width: 100ch;
  margin: 1em;
  box-shadow: 0.125em 0.125em 0.125em 0.125em var(--clr-elevated-1);
}

footer {
  grid-area: bottom;
  padding: 1em;
}

.avatar {
  border: 0.5em solid var(--clr-primary);
}

.tab {
  display: inline-block;
  margin-top: 0.4em;
  padding-left: 0.5em;
  padding-right: 2em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em var(--clr-elevated-1);
  width: auto;
  background-color: var(--clr-tertiary);
}

p,
h2 {
  padding: 1em;
}

ul {
  padding-left: 1em;
  margin-left: 1em;
}
