@use '../abstract' as *;
@use 'sass:meta';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root,
:root.dark {
  // Variables
  --clr-bg: #{$nord00};
  --clr-elevated: #{$nord01};
  --clr-elevated-1: #{$nord03};
  --clr-subtle: #{$nord06};
  --clr-txt: #{$nord05};
  --clr-txt-selection: #{$nord02};
  // Constants
  --clr-primary: #{$nord08};
  --clr-important: #{$nord07};
  --clr-secondary: #{$nord09};
  --clr-tertiary: #{$nord10};
  --clr-error: #{$nord11};
  --clr-dangerous: #{$nord12};
  --clr-warning: #{$nord13};
  --clr-success: #{$nord14};
  --clr-uncommon: #{$nord15};
  --fnt-size: 1rem;
  --fnt-sans: #{meta.inspect($font-family-sans)};
  --fnt-serif: #{meta.inspect($font-family-serif)};
  --fnt-mono: #{meta.inspect($font-family-monospace)};
}

:root.light {
  --clr-bg: #{$nord06};
  --clr-elevated: #{$nord04};
  --clr-elevated-1: #{$nord01};
  --clr-subtle: #{$nord03};
  --clr-txt: #{$nord00};
  --clr-txt-selection: #{$nord05};
}

body {
  font-family: var(--fnt-sans);
  background-color: var(--clr-bg);
  color: var(--clr-txt);
  min-height: 100vh;
  ::selection {
    background-color: var(--clr-txt);
    color: var(--clr-txt-selection);
  }
}

main {
  background-color: var(--clr-elevated);
}

header,
footer {
  background-color: var(--clr-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fnt-serif), serif;
}

h1 {
  font-weight: 800;
}

h2,
h3 {
  font-weight: 600;
}

h4,
h5,
h6 {
  font-weight: 400;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  color: var(--clr-txt);

  &:hover {
    color: var(--clr-subtle);
    font-weight: 700;
  }

  &:visited {
    color: var(--clr-tertiary);
  }

  &:active {
    color: var(--clr-subtle);
    border: 0.125em dashed var(--clr-subtle);
  }
}

.social--icons {
  a {
    text-decoration: none;
  }
}