/** Colors **/

//! Polar Night //
//? Dark Ambiance - Used in base UI elements like backgrounds.
//* Bright Ambiance - Used in text color.

//? Background color - area coloring.
//* Text color. Rarely for passive UI like borders.
$nord00: hsl(220, 16.4%, 21.6%);
//? Elevated, prominent, focused UI (status bar, panels, modals, floating popups,
//? user interaction/form [buttons, text/select fields, checkboxes]).
//? Inconspicuous and passive elements like borders, drop-shadow.
//* Subtle/inconspicuous text elements. State animations on text, like hover, active, focus.
$nord01: hsl(221.7, 16.3%, 27.6%);
//? Text selection - text highlighting. Brighter variant of nord1.
//* Brighter variant of nord01.
$nord02: hsl(220, 16.8%, 31.6%);
//? Brighter variant of nord1 and nord2
//* Brighter variant of nord01 and nord02. Subtle/inconspicuous UI text elements.
$nord03: hsl(220, 16.5%, 35.7%);

//! Snow Storm
//? Used in text color.
//* Used in base UI elements like backgrounds.

//? Not used.
//* Elevated, prominent, focused UI (status bar, panels, modals, floating popups,
//* user interaction/form [buttons, text/select fields, checkboxes]).
//* Inconspicuous and passive elements like borders, drop-shadow.
$nord04: hsl(218.8, 27.9%, 88%);
//? Subtle/inconspicuous text elements. State animations on text, like hover, active, focus.
//* Text selection - text highlighting.
$nord05: hsl(218.2, 26.8%, 92%);
//? Text color. Elevated UI text elements.
//* Background color - area coloring.
$nord06: hsl(217.5, 26.7%, 94.1%);

//! Frost
// Primary UI components and text highlighting.

// Used for elements that should stand out.
$nord07: hsl(178.7, 25.1%, 64.9%);
// Used for primary UI elements that require the most visual attention.
$nord08: hsl(193.3, 43.4%, 67.5%);
// Used for secondary UI elements, that still need more attention than others.
$nord09: hsl(210, 34%, 63.1%);
// Used for tertiary UI elements that need more attention than default elements.
$nord10: hsl(213.1, 32%, 52.2%);

//! Aurora
// Colorful components, reminiscent of the "Aurora Borealis".

// Error states.
$nord11: hsl(354.3, 42.3%, 56.5%);
// Advanced/dangerous functionality.
$nord12: hsl(14.4, 50.5%, 62.7%);
// Warning states.
$nord13: hsl(40, 70.6%, 73.3%);
// Success states.
$nord14: hsl(92.4, 27.8%, 64.7%);
// Uncommon functionality.
$nord15: hsl(311.1, 20.2%, 63.1%);
