.text {
  &--underline {
    text-decoration: underline;
  }

  &--center {
    text-align: center;
  }

  &--small {
    font-size: 0.75em;

    &-heading {
      font-size: 0.75em;
      font-weight: 500;
    }
  }

  &--slanted {
    font-style: italic;
  }
}
