@use 'abstract' as *;
@use 'components' as *;
// @use 'sass:color';

:root,
[data-theme="default"] {
  --bg-img: url("https://picsum.photos/seed/ntinos/2000/1000.webp");
}

[data-theme="light"] {
  --bg-img: url("https://picsum.photos/seed/picsum/2000/1000.webp");
}

body {
  display: grid;
  grid-template-rows: 2fr 1fr auto;
  grid-template-areas:
    "top"
    "mid"
    "bottom";
}

header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    var(--bg-img);
  grid-area: top;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  justify-items: center;
  align-items: center;
}

.avatar {
  @media screen and (max-width: 600px) {
    grid-column: 1 / 4;
  }

  @media screen and (min-width: 600.1px) {
    grid-column: 2 / 3;
  }
  grid-row: 1 / 2;
  border-radius: 50%;
}

.switch {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  justify-self: center;
}

nav {
  grid-row: 2 / 3;
  @media screen and (max-width: 600px) {
    grid-column: 2 / 3;
  }
  @media screen and (min-width: 600.1px) {
    grid-column: 1 / 4;
  }
}

main {
  grid-area: mid;
  justify-self: center;
  width: 90vw;
  max-width: 100ch;
  margin: 1em;
  box-shadow: 0.125em 0.125em 0.125em 0.125em var(--clr-elevated-1);
}

footer {
  grid-area: bottom;
  padding: 1em;
}

.avatar {
  border: 0.5em solid var(--clr-primary);
}

.tab {
  display: inline-block;
  margin-top: 0.4em;
  padding-left: 0.5em;
  padding-right: 2em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em var(--clr-elevated-1);
  width: auto;
  background-color: var(--clr-tertiary);
}

p {
  padding: 1em;
}
